@font-face {
    font-family: "Mohave";
    src: url("./Mohave-VF.ttf");
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body { /* html: mobile hack */
    overflow: hidden; /* Hide scrollbars */
    font-family: 'Mohave', sans-serif;
    user-select: none;
}

body {
    background: black;
}

.container {
    touch-action: none;
    background-attachment: scroll;
    background-image: linear-gradient(to top, #0C0C0D, rgba(2, 3, 5, 0.749)), url('bg.jpg');
    background-position: 0 0, center;
    background-repeat: repeat, repeat;
    background-size: auto, cover;
    background-color: #000;
}

.grid-item-content {
    position: absolute;
    background-repeat: no-repeat;
}

.wrapper {
    color: white;
    display: grid;
    grid-gap: 2px;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 2fr 4fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
}

.enemyStats {
    grid-column: 1 / 1;
    grid-row: 1;
}

.enemyHand {
    grid-column: 2;
    grid-row: 1;
}

.enemyDeck {
    grid-column: 3;
    grid-row: 1;
}

.enemyDiscard {
    grid-column: 4;
    grid-row: 1;
}

.enemyResources {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

.enemyField {
    grid-column: 1 / 4;
    grid-row: 2;
}

.yourField {
    grid-column: 1 / 4;
    grid-row: 3;
}

.yourResources {
    grid-column: 4 / 5;
    grid-row: 3;
}

.yourHand {
    grid-column: 2 / 3;
    grid-row: 4;
}

.yourDeck {
    grid-column: 3;
    grid-row: 4;
}

.yourDiscard {
    grid-column: 4;
    grid-row: 4;
}

.yourStats {
    grid-column: 1;
    grid-row: 4;
}

h2 {
    margin-top: -22px;
    font-size: 100%;
}

h2.yourStats {
    margin-top: -31px;
}

h2.yourHand {
    margin-top: -31px;
}

h2.enemyStats {
    margin-top: 245px;
}

h2.enemyHand {
    margin-top: 211px;
}

h2.enemyField {
    margin-top: 215px;
}

h2.yourField {
    margin-top: -18px;
}

.activePhase {
    background: silver;
}

.life {
    width: 100%;
}

.lowOpacity {
    opacity: 0.25;
}

.zoneCountText {
    opacity: 0.8;
    font-size: 80%;
}

.nextButton {
    border: #7289da;
    background: #222;
    color: #fff;
    border-radius: 22px;
    padding: 12px 24px;
    font-size: 100%;
}

.phase1 {
    border-radius: 10px 0 0 10px;
}

.phase3 {
    border-radius: 0 10px 10px 0;
}

.phase1, .phase2, .phase3 {
    border: 1px solid white;
    width: 30%;
    padding: 10px 0;
}

.zoom, .zoom:active {
    transition: transform .2s;
}

.zoom:hover {
    z-index: 5000;
    transform: scale(2.5);
}

.votingContainer .votingButton {
    opacity: 0.2;
    z-index: 6000;
}

.votingContainer:hover .votingButton {
    opacity: 1;
    z-index: 6000;
}

.commentTooltip {
    background-color: #00000090;
    color: #fff;
    border: 2px solid #eee;
    z-index: 8000;
    font-size: 125%;
    width: 500px;
    margin-left: 100px;
}

.zoomYourDiscard:hover {
    transform: scale(2.5) translate(-17px, -30px) rotate(0);
}

.zoomYourHand:hover {
    transform: scale(2.5) translate(0px, -30px);
}

.zoomEnemyDiscard:hover {
    transform: scale(2.5) translate(-17px, 50px) rotate(0);
}

.zoomEnemyHand:hover {
    transform: scale(2.5) translate(0px, 50px);
}

.nextButtonPos {
    position: absolute;
    bottom: 45%;
    left: 12px;
}

@media only screen and (min-width: 1000px) {
    .objective {
        font-size: 70%;
    }

    .yourStats {
        padding: 10px 0;
    }

    .phaseBlock {
        padding: 10px 0;
        display: inline-block;
        text-align: center;
    }
}

@media only screen and (max-width: 1000px) {
    .yourStats {
        padding: 3px 0;
    }

    .phaseBlock {
        padding: 3px 0;
        display: inline-block;
        text-align: center;
    }

    .objective {
        font-size: 50%;
    }
}

/* discord */

.discord-invite-height {
    height: 110px;
}

.discord-invite {
    margin: 0 auto;
    background-color: rgb(47, 49, 54);
    border-radius: 4px;
    box-sizing: border-box;
    padding: 16px;
    width: 55vh;
    font-size: 120%;
}

.discord-invite-text {
    block-size: 16px;
    font-size: 100%;
    height: 16px;
    margin-bottom: 12px;
    margin-top: 0;
    text-transform: uppercase;
    color: rgb(185, 187, 190);
}

.discord-invite-body {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 400px;
}

.discord-invite-details {
    block-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 200px;
}

.discord-invite-name {
    margin: 0;
    color: white;
    display: flex;
}


.discord-invite-image img {
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-right: 15px;
}

.discord-invite-join-button {
    border-radius: 3px;
    align-items: center;
    background-color: rgb(67, 181, 129);
    block-size: 40px;
    box-sizing: border-box;
    color: white;
    display: flex;
    inline-size: 77.8px;
    justify-content: center;
    margin-left: 10px;
    padding: 2px 20px;
    text-decoration: none;
}

/* home page */

.homeContainer {
    font-family: "Mohave";
    touch-action: none;
    background-attachment: scroll;
    background-image: url('bg-home.jpg');
    background-position: 0 0, center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
}

.homeWrapper {
    color: white;
    display: grid;
    grid-gap: 16px;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
}

.homeTitle {
    padding: 12px;
    grid-column: 1 / 2;
    grid-row: 1;
}

.homeOptions {
    padding: 12px;
    grid-column: 2 /2;
    grid-row: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.leftBoxBg {
    background-color: #00000099;
    border-radius: 0 16px 16px 0;
}

.rightBoxBg {
    background-color: #00000099;
    border-radius: 16px 0 0 16px;
}

.homeMain {
    padding: 20px;
    grid-column: 1 / 2;
    grid-row: 2;
}

.homeDecks {
    padding: 20px;
    grid-column: 2 / 2;
    grid-row: 2;
}

.homeCommunity {
    grid-column: 2 / 2;
    grid-row: 3;
    display: flex;
    align-items: flex-end;
}

.homeActions {
    padding: 12px;
    grid-column: 1 / 2;
    grid-row: 3;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.homeActionsButtons {
}

.homeDeckCard {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.homeDeckCardName {
}

.homeDeckCardCost {
}

.homeCardsSection {
    padding: 12px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.homeCardsVote {
    margin-top: -40px;
}

.homeNextPrev {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Scrollbar colors */

*::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

*::-webkit-scrollbar-thumb {
    background: #ffffff77;
    border-radius: 12px;
}